*ntuser*
*NTUSER*
/.BuildServer
/.gem
/.git
/.idlerc
/.m2
/.MPS15
/.PyCharm10
/.RubyMine31
/.WebIde10
/.ssh
/.subversion
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Dropbox
/Favorites
/Links
/MPSSamples.1.5
/Music
/Pictures
/PycharmProjects
/RubymineProjects
/Saved Games
/Searches
/Videos

.bash_history
_viminfo

*.swp
*.vim
