*ntuser*
/.BuildServer
/.gem
/.git
/.idlerc
/.m2
/.MPS15
/.PyCharm10
/.RubyMine31
/.Trash
/.WebIde10
/.ssh
/.subversion
/AppData
/Applications
/Contacts
/Desktop
/Documents
/Downloads
/Dropbox
/Favorites
/Library
/Links
/Movies
/MPSSamples.1.5
/Music
/Pictures
/Public
/PycharmProjects
/RubymineProjects
/Saved Games
/Searches
/Sites
/USB Backup
/Videos
/win7

.bash_history
.bash_profile.backup
.CFUserTextEncoding
_viminfo
.viminfo
/autoload/*.vim
**/.netrwhist
.vim/colors/

*.swp
.DS_Store
